<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>AcFun近期保存动态 - AcSaver</title>
    <link href="assets/favicon.ico" rel="shortcut icon">
    <link type="text/css" rel="stylesheet" href="assets/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="assets/css/moment.css">
    <link type="text/css" rel="stylesheet" href="assets/css/pager.min.css"/>
</head>
<body>
    <div id="app">
        <div class="layout">
            <header id="header" style="width: 100%;margin: 0;">
                <div class="nav" style="width: 1190px;">
                    <div class="nav-links">
                        <a href="https://www.acfun.cn/" class="logo">
                            <img src="assets/img/acfunlogo.svg" alt="" width="94" height="30"></a>
                    </div>
                    <div class="nav-title" style="display:none;"><a href=""></a></div>
                    <div class="nav-bread"></div>
                    <div class="nav-guide" style="display:none;">
                        <span class="nav-guide-main">导航<span class="ac-icon"><i class="iconfont"></i></span></span>
                        <ul class="nav-guide-2"><div class="nav-guide-3-place"></div></ul>
                    </div>
                    <div class="nav-entrance-wrap" style="display:none;">
                        <a class="nav-mall">
                            <span class="ac-icon"><i class="iconfont">&#xe3c5;</i></span>
                            <span class="entrance-title">近期保存内容</span></a>
                        <a href="feed.html" class="face-catcher">
                            <span class="ac-icon"><i class="iconfont">&#xe3c4;</i></span>
                            <span class="entrance-title">近期保存动态</span></a>
                    </div>
                    <div class="nav-search">
                        <span class="nav-search-input ac-input-wrapper ac-input-suffix">
                            <input aria-label="" placeholder="" autocomplete="off" minlength="" maxlength="" type="text" value="" class="ac-input" id="nav-search">
                            <div class="ac-input-suffix-item" id="nav-search-btn"><span class="ac-icon"><i class="iconfont"></i></span></div>
                        </span>
                    </div>
                    <div class="nav-user">
                        <a href="https://github.com/dolaCmeo/acfunsdk" target="_blank" class="nav-user-item">
                            <span class="icon ac-icon"><i class="iconfont">&#xe353;</i></span>
                            <p class="desc">AcSDK</p></a>
                        <a href="https://github.com/dolaCmeo/acsaver" target="_blank" class="nav-user-item">
                            <span class="icon ac-icon"><i class="iconfont">&#xe62e;</i></span>
                            <p class="desc">AcSaver</p></a>
                        <a href="https://www.acfun.cn/member/feeds" target="_blank" rel="noopener" class="user-upload">
                            <button type="button" class="ac-button ac-button-primary ac-button-normal">
                                <span class="ac-icon" style="margin-right:4px;"><i class="iconfont">&#xe3c9;</i></span> 去线上
                            </button></a>
                    </div>
                </div>
                </header>
            <main style="margin-top: 60px;">
                <div class="ac-member">
                    <nav class="ac-member-navigation">
                        <a href="https://www.acfun.cn/" target="_blank" aria-current="page" class="ac-member-navigation-item">
                            <span class="ac-icon"><i class="iconfont">&#xe3c9;</i></span> AcFun首页</a>
                        <a href="index.html" class="ac-member-navigation-item">
                            <span class="ac-icon"><i class="iconfont">&#xe3c5;</i></span> 近期保存内容</a>
                        <a aria-current="page" class="ac-member-navigation-item ac-member-navigation-item-active">
                            <span class="ac-icon"><i class="iconfont">&#xe3c4;</i></span> 近期保存动态</a>
                    </nav>
                    <div class="ac-member-main">
                        <div class="ac-member-feeds">
                            <div class="ac-member-feeds-header ac-tabs">
                                <ul class="ac-tabs-nav"></ul>
                                <div class="ac-tabs-container">
                                    <div class="ac-tabs-panel">
                                        <div class="feeds-panel" is-active="true">
                                            <!---->
                                            <div id="feed-loading" class="loading" style="display:none;"><img src="assets/img/loading.gif">Loading...</div>
                                            <div class="observer" style=""></div>
                                            <div class="ac-back-top" style="display:none;"><span class="ac-icon"><i class="iconfont"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<div id="pagelet_footer" style="visibility: visible;">
    <div id="footer">
        <div class="wp footer-con">
            <div class="footer-bottom">
                <a href="https://www.acfun.cn">
                    <img src="assets/img/logo-gray.png" width="78" height="24" loading="lazy" alt=""></a>
                <p>Copyright © 2007-<script>document.write(new Date().getFullYear().toString())</script> AcFun. 保留所有权利</p></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="assets/js/lazyload.min.js"></script>
<script type="text/javascript" src="assets/js/loader.js"></script>
<script type="text/javascript" src="assets/js/saver.js"></script>
<script type="text/javascript">
    let lazyLoadInstance = new LazyLoad({});
    let LOADED = {"bangumi":{},"article":{},"video":{},"live":{},"moment":{},"comment":[]};
    let lastMoment = [];
    navItemLoader();
    loadJs("data.js", function () {
        AcSaver.least.forEach(function (item) {
            if(item[0]==='moment'){lastMoment.push(item[1]);}
        });
        lastMoment.reverse().splice(0,9).forEach(function (rid) {
            loadJs('moment/'+rid+'/data/'+rid+'.js', function () {
                momentLoader(rid);
            });
        });
    });
</script>
</body>
</html>
