<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="moment.css">
</head>
<body>
    <div id="app">
        <div class="layout">
            <header id="header"></header>
            <main>
                <div class="ac-moment">
                    <div class="ac-moment-wrap">
                        <div class="ac-moment-feed">
                            <div class="member-feed-user"></div>
                            <div class="feed-content"></div>
                            <div class="member-feed-interactive">
                                <div class="feed-interactive">
                                    <div class="feed-interactive-repost">
                                        <span class="ac-icon"><i class="iconfont"></i></span>
                                        <span>分享</span>
                                    </div>
                                    <div class="feed-interactive-comment active">
                                        <span class="ac-icon"><i class="iconfont"></i></span>20
                                    </div>
                                    <div class="feed-interactive-banana">
                                        <span class="icon_path ac-icon"><i class="iconfont"></i></span>
                                        <span class="icon_fill ac-icon"><i class="iconfont"></i></span>
                                        <span>26</span>
                                    </div>
                                    <div class="feed-interactive-like">
                                        <span class="icon_path ac-icon"><i class="iconfont"></i></span>
                                        <span class="icon_fill ac-icon"><i class="iconfont"></i></span>58
                                    </div>
                                    <div class="ac-trigger-content" style="min-width: 0px; display: none;"></div>
                                    <div class="ac-trigger-content" style="min-width: 0px; display: none;"></div>
                                </div>
                                <div>
                                    <div class="feed-comment">
                                        <div class="ac-pc-comment " id="ac-pc-comment-1664290486485">
                                            <!--标题-->
                                            <div class="ac-comment-title">
                                                <div class="area-comm-title-left">
                                                    <span class="area-comm-str">评论</span> 
                                                    <span class="area-comm-number">20</span>
                                                </div>
                                                <div class="area-comm-title-right">
                                                    <a class="area-update update" title="刷新">
                                                        <img class="update" src="//imgs.aixifan.com/2020/04/07/refresh-icon.png">
                                                    </a>  
                                                </div> 
                                            </div>
                                            <!-- 提示 -->
                                            <div class="ac-comment-warn"></div>
                                            <!--顶部评论框-->
                                            <div class="ac-comment-top-editor">
                                                <!--editor的div为富文本的承载容器-->
                                                <div class="area-editor fold"></div>
                                            </div>
                                            <!--顶部翻页-->
                                            <div class="ac-comment-top-pager"></div>
                                            <div class="ac-comment-loading"></div>
                                            <!--评论列表-->
                                            <div class="ac-comment-list">
                                                <div class="ac-comment-hot-list"></div>
                                                <div class="ac-comment-root-list">
                                                    <div>
                                                        <div class="area-comment-top clearfix" data-commentid="723397499" data-uuid="32341827991EB177" id="comment-32341827991EB177">
                                                            <div class="area-comment-first clearfix">
                                                                <div class="area-comment-left">
                                                                    <a class="thumb" target="_blank" href="http://www.acfun.cn/u/4084436">
                                                                        <img class="avatar" src="http://tx-free-imgs2.acfun.cn/bs2/zt-image-host/088a8c081089c8fad504">
                                                                        <img class="avatar-bg-2018062102 " src="https://tx-free-imgs.acfun.cn/HGxVLInCIR-QJFfIz-A7vqyi-RZr6za-N36NZ3.gif?imageslim">
                                                                    </a>
                                                                </div>
                                                                <div class="area-comment-right">
                                                                    <div class="area-comment-title">
                                                                        <a class="name" target="_blank" data-userid="4084436" href="https://www.acfun.cn/u/4084436" style="color: #fd4c5c">排出毒素</a>
                                                                        <span class="time_day">发表于</span>
                                                                        <span class="time_times">1分钟前</span>
                                                                    </div>
                                                                    <div class="area-comment-des">
                                                                        <p class="area-comment-des-content">搁外面我都说我跟超哥混的，</p>
                                                                    </div>
                                                                    <div class="area-comment-tool">
                                                                        <a class="area-comment-like  area-comment-up">赞 </a>
                                                                        <a class="area-comment-reply">回复</a>
                                                                        <span class="area-comment-from">
                                                                            <span>来自</span>
                                                                            <a class="deviceModel" target="_blank" href="https://www.acfun.cn/app/">iPhone14,5</a>
                                                                        </span>
                                                                        <span class="area-comment-more"></span>
                                                                        <div class="area-comm-more" style="display: none">
                                                                            <span class="area-comm-report">举报</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <span class="index-comment">#20</span>
                                                            </div>
                                                            <div class="editor-holder editor-holder-main " id="editor-holder-32341827991EB177"></div>
                                                            <div id="comment-sec-32341827991EB177"></div>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--底部翻页-->
                                            <div class="ac-comment-bottom-pager"></div>
                                            <!--底部评论框-->
                                            <div class="ac-comment-bottom-editor"></div>
                                            <!-- 弹窗 -->
                                            <div class="ac-comment-toast"></div>
                                            <!-- 用户卡片 -->
                                            <div class="ac-comment-usercard hide"></div>
                                            <!-- dialog -->
                                            <div class="ac-comment-dialog"></div>
                                            <div class="ac-comment-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed-more"><span class="ac-icon"><i class="iconfont"></i></span></div>
                        </div>
                    </div>
                </div>
            </main>
            <footer id="footer"></footer>
        </div>
    </div>
</body>
</html>
