<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>AcFun弹幕视频网 - 认真你就输啦 (・ω・)ノ- ( ゜- ゜)つロ</title>
    <link href="../../assets/favicon.ico" rel="shortcut icon">
    <link type="text/css" rel="stylesheet" href="../../assets/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="../../assets/css/comment.css"/>
    <link type="text/css" rel="stylesheet" href="../../assets/css/pager.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../assets/css/moment.css">
</head>
<body>
    <div id="app">
        <div class="layout">
{% include 'parts/inner_header.html' %}
            <main>
                <div class="ac-member">
                    <nav class="ac-member-navigation"></nav>
                    <div class="ac-member-main">
                        <div class="ac-member-feeds">
                            <div class="ac-member-feeds-header ac-tabs">
                                <ul class="ac-tabs-nav"></ul>
                                <div class="ac-tabs-container">
                                    <div class="ac-tabs-panel">
                                        <div class="feeds-panel" is-active="true">
                                            <!---->
                                            <div class="loading" style="display:none;"><img src="../../assets/img/loading.gif">Loading...</div>
                                            <div class="observer" style=""></div>
                                            <div class="ac-back-top" style="display:none;"><span class="ac-icon"><i class="iconfont"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer id="footer">
                <div class="wp footer-con">
                    <div class="footer-bottom">
                        <a href="https://www.acfun.cn">
                            <img src="../../assets/img/logo-gray.png" width="78" height="24" loading="lazy"></a>
                        <p>Copyright © 2007-<script>document.write(new Date().getFullYear().toString())</script> AcFun. 保留所有权利</p></div>
                </div>
            </footer>
        </div>
    </div>

{% include 'parts/toolbar.html' %}
<script type="text/javascript" src="../../assets/js/lazyload.min.js"></script>
<script type="text/javascript">
    let lazyLoadInstance = new LazyLoad({});
</script>
</body>
</html>
